body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
   				Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   height: 700px;
   padding-left: 20px;
   padding-right: 20px;
}

.circuit-node {
    text-align: center;
    font-size: 20pt;
    cursor: pointer;
}

.circuit-node:hover {
    color: gray;
}

#circuit-grid {
    width: 100%;
    height: 100%;
}

#circuit-table {
    width: 100%;
    height: 95%;
    border-spacing: 12px;
}

#frame {
    width: 1200px;
    height: 700px;
    margin: auto;
}

.panel {
    border: 2px solid gray;
    height: 80%;
}

.box {
    height: 50%;
    margin: 0;
}

#top-banner {
    width: 100%;
    height: 8%;
}

#element-panel {

}

#left-panel {
    width: 170px;
    float:left;
}

#element-box {
    border-bottom: 2px solid gray;
}

#main-panel {
    width: 750px;
    float:left;
}

#right-panel {
    width: 170px;
    margin-right: 1%;
    float: left;
}

#tools-panel {

}

#bottom-banner {
    width: 100%;
    height: 20%;
}

.title {
    font-weight: bold;
    border: 1px solid gray;
    border-bottom: 3px solid gray;
    padding: 3px;
}
/*
List elements, set the images for each
*/

li {
    vertical-align: top;
    padding: 5px;
    margin-left: 2px;
}

#lires{
    list-style-image: url('images/ResistorIcon.png');
}

#livolt {
    list-style-image: url('images/VoltageSourceIcon.png');
}

#licurr {
    list-style-image: url('images/CurrentSourceIcon.png');
}

#liwire {
    list-style-image: url('images/WireIcon.png');
}

#liground {
    list-style-image: url('images/GroundIcon.png');
}

#lidel {
    list-style-image: url('images/DeleteIcon.png');
}

#liclear {
    list-style-image: url('images/ClearAllIcon.png');
}
