body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
   				Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#circuit-grid {
    width: inherit;
    height: inherit;
    position: absolute;
}

#circuit-table {
    width: 100%;
    height: 95%;
    position: relative;
}
#frame {
    width: 1200px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    width: 100%;
    height: 8%;
    text-align: center;
    font-size: 32pt;
}

.banner, .title {
    font-weight: bold;
}

.title {
    height:30px;
    border-bottom:solid gray 2px;
    border-top:solid gray 2px;
}

.panel {
    float:left;
}

#left-panel, #right-panel {
    width: 170px;
    height: 650px;
    border-top: solid gray 2px;
    border-bottom: solid gray 2px;
}

#left-panel {
    border-left:solid gray 2px;
}

#right-panel {
    border-right:solid gray 2px;
}


.list {
    height:287px;
}

#center-panel{
    width: 750px;
    border:solid gray 2px;
}

#circuit-area, #results-area {
    height: 612px;
}

.list-selection {
    border-bottom: solid gray 2px;
    padding: 5px;
}

.list-selection img {
    vertical-align: middle;
}

.node {
    width: 10px;
    height: 10px;
    border:black solid 1px;
    float: left;
}
